table.dataTable tr.odd td.sorting_1 {
  background-color: rgba(184, 204, 253, 0.6);
}

table.dataTable tr.even td.sorting_1 {
  background-color: rgba(245, 245, 255, 0.6);
}

table.dataTable tr.odd td.sorting_2 {
  background-color: rgba(184, 204, 253, 0.3);
}

table.dataTable tr.even td.sorting_2 {
  background-color: rgba(245, 245, 255, 0.3);
}

table.dataTable tr.odd td.sorting_3 {
  background-color: rgba(184, 204, 253, 0.15);
}

table.dataTable tr.even td.sorting_3 {
  background-color: rgba(245, 245, 255, 0.15);
}

div.list-group-item {
  color: #555555;
}

div.list-group-item .list-group-item-heading {
  color: #333333;
}

div.list-group-item:hover,
div.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

div.schoolContacts {
  margin-bottom: 0px;
}

.hiddenCampus, .hiddenID, .hiddenCID, .hiddenMethod, .hiddenInt,
.hiddenFirst, .hiddenLast, .hiddenType, .hiddenWarning, .hiddenDate {
  display: none;
}

.well.side, .greyBack {
  background-color: rgba(190,190,190, 0.35) !important;
}

.greyBack {
  background-color: rgba(190,190,190, 0.35) !important;
  color: #5E6469;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF;
  padding: 15px;
}

.fullWidth {
  font-size: 20px;
  text-shadow: 0 1px 0 #FFFFFF;
  padding: 15px;
  cursor: pointer;
}

.editNote {
  cursor: pointer;
}

.contactInfo {
  padding-left: 15px;
}

.contactArrow {
  padding-right: 15px;
  margin-top: 20px;
  font-size: 25px;
}

.contactLink {
  min-height: 85px;
}

div.greyBack:hover,
div.greyBack:focus {
  text-decoration: none;
  background-color: rgba(190,190,190, 0.7) !important;
  cursor: pointer;
}

.well.square {
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0;
  margin-bottom: 0;
  padding: 10px;
}

label.valid {
  margin: 0px !important;
  padding: 0px !important;
  display: none !important;
}

label.error, span.error {
  font-weight: bold;
  color: red;
  margin-top: 2px;
}

.well h2 {
  margin-top: 0px;
}

.list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #155183 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ececec;
}

.has-success > .bootstrap-select > button {
  border-color: #468847;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.has-error > .bootstrap-select > button {
  border-color: #B94A48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.has-success > div > .bootstrap-select > button {
  border-color: #468847;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.has-error > div > .bootstrap-select > button {
  border-color: #B94A48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

#wrap {
  height: auto !important;
  margin: 0 auto -120px;
  min-height: 100%;
}
#push, #footer {
  height: 120px;
}
#footer {
  background-color: #EEEEEE;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.muted {
  color: #777777;
}

.container .credit {
  margin: 15px 0;
}

.tooltip-inner {
  background-color: #ED9C28;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ED9C28;
}

.tooltip {
  z-index: 2000 !important;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  height: auto !important;
  width: auto !important;
  font-family: sans-serif !important;
}

.brand-logo {
  padding-left: 10px;
  padding-right: 50px;
}

#header-title {
  margin-bottom: 0px;
}

.contact {
  padding: 10px;
}

.centre {
   margin: 0 auto;
}

#flash {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

#flash .alert {
  border-radius: 0;
}

.bootstrap-select.btn-group {
  margin-bottom: 0px !important;
}

.fade {
  opacity: 0.75;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 1;
}

