table.dataTable tr.odd td.sorting_1 {
  background-color: rgba(184, 204, 253, 0.6);
}

table.dataTable tr.even td.sorting_1 {
  background-color: rgba(245, 245, 255, 0.6);
}

table.dataTable tr.odd td.sorting_2 {
  background-color: rgba(184, 204, 253, 0.3);
}

table.dataTable tr.even td.sorting_2 {
  background-color: rgba(245, 245, 255, 0.3);
}

table.dataTable tr.odd td.sorting_3 {
  background-color: rgba(184, 204, 253, 0.15);
}

table.dataTable tr.even td.sorting_3 {
  background-color: rgba(245, 245, 255, 0.15);
}

.hiddenCampus, .hiddenID, .hiddenCID, .hiddenMethod, .hiddenInt,
.hiddenFirst, .hiddenLast, .hiddenType, .hiddenWarning, .hiddenDate {
  display: none;
}

.well.side {
  background-color: rgba(190,190,190, 0.35) !important;
}

.well.square {
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
    margin-bottom: 0;
    padding: 10px;
}

label.valid {
  margin: 0px !important;
  padding: 0px !important;
  display: none !important;
}

label.error {
  font-weight: bold;
  color: red;
  margin-top: 2px;
}

.well h2 {
  margin-top: 0px;
}

.list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #155183 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ececec;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

#wrap {
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%;
}
#push, #footer {
  height: 60px;
}
#footer {
  background-color: #EEEEEE;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.muted {
  color: #777777;
}

.container .credit {
  margin: 20px 0;
}

.tooltip-inner {
  background-color: #ED9C28;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ED9C28;
}

.tooltip {
  z-index: 2000 !important;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  height: auto !important;
  width: auto !important;
  font-family: sans-serif !important;
}

.brand-logo {
  padding-left: 10px;
  padding-right: 50px;
}

#header-title {
  margin-bottom: 0px;
}

.contact {
  padding: 10px;
}

.centre {
   margin: 0 auto;
}

#flash {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

#flash .alert {
  border-radius: 0;
}
