DirectoryIndex insights/map.php

RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^pulse2.p2c.com [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ $1/$2.php [QSA]

RewriteRule ^insights/$ insights/map.php [QSA]
RewriteRule ^insights/decisions/([a-zA-Z0-9_-]+)/$ insights/id$1.php [QSA]
RewriteRule ^insights/monthlystats/([a-zA-Z0-9_-]+)/$ insights/mon$1.php [QSA]
RewriteRule ^insights/discover/([a-zA-Z0-9_-]+)/$ insights/disc$1.php [QSA]
RewriteRule ^insights/survey/([a-zA-Z0-9_-]+)/$ insights/survey$1.php [QSA]
RewriteRule ^insights/schoolinfo/([a-zA-Z0-9_-]+)$ insights/schoolinfo.php?id=$1 [QSA]

RewriteRule ^discover/$ discover/index.php [QSA]
RewriteRule ^discover/new/$ discover/new.php [QSA]
RewriteRule ^discover/contact/([a-zA-Z0-9_-]+)$ discover/contact.php?id=$1 [QSA]
RewriteRule ^discover/contact/([a-zA-Z0-9_-]+)/$ discover/contact.php?id=$1 [QSA]

RewriteRule ^fbapp/$ fbapp/examples/with_js_sdk.php [QSA]

RewriteRule ^shortener/$ shortener.php [QSA]
